* {
    border: none;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Oswald', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans Condensed', sans-serif; */
}

button, i {
    cursor: pointer;
}

body {
    background-color: #e6e6e6;
}

main, .main {
    width: 90%;
    margin: 0px auto;
}

/*This is referring to the main content excluding the header*/
main {
    margin-top: 80px;
}

/* =======================
        Header 
========================*/
header {
    background: #222222;
    height: 70px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
}


header > .main > div {
    float: left;
}

.site-logo {
    width: 16%;
    height: 70px;
    color: #C9D4D4;
    font-size: 24px;
    line-height: 70px;
    font-weight: bold;
    font-family: oswald    
}

.add-course-btn {
    width: 10%;
    margin-left: 10px;
    height: 70px;
}

.add-course-btn button {
    background: #007ACC;
    border: none; 
    color: white; 
    height: 100%;
    padding: 12px 16px; 
    font-size: 16px;
    cursor: pointer; 
}
  
/* Darker background on mouse-over */
.add-course-btn button:hover  {
    background-color: #555555;
    border-bottom: solid 5px #007ACC;
}

.search-site-container {
    width: 55%;
    margin-left: 15px;
    margin-right: 15px;
    height: 100%;
    padding: 15px;
}

form.search-site input[type=text] {
    padding: 10px;
    padding-left: 20px;
    font-size: 17px;
    float: left;
    width: 80%;
    color: #AAAAAA;
    background: #363636;
}

form.search-site button {
    float: left;
    background: #555555;
    width: 20%;
    padding: 10px;
    color: white;
    font-size: 17px;
    border-left: none;
    cursor: pointer;
}
  
form.search-site input[type=text]:hover {
    background: #fff;
}
  
/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

.uid {
    width: 15%;
    margin-left: 5px;
    height: 70px;
}

#name_display_field {
    color: rgb(212, 212, 212);
    font-size: 16px;
    height: 50%;
    line-height: 45px;
}

#email_display_field {
    font-size: 14px;
    height: 50%;
    color: #A9A9A9
}


/*===================
Add course dialog box
====================*/
#add_course_dialog {
    display: none;
    position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
    height: 400px;
    width: 800px;
    background: #efefef;
    border: solid 1px #a7a2a2;
}

#add_course_dialog h3 {
    height: 10%;
    width: 100%;
    padding: 10px;
    font-family: Montserrat;
    font-size: 16px;
    background: #363636;
    color: #efefef;  
}

#add_course_dialog h3 .fa-times {
    float: right;
}

#add_course_dialog form {
    height: 75%;
    width: 100%;
    font-size: 16px;
    font-family: 'roboto', Helvetica, sans-serif;
    padding: 15px;
}

.options_btns{
    height: 15%;
    width: 100%;
    border-top: solid 1px rgb(165, 165, 165);
    padding: 10px;
}

#cancel_booking_btn{
    float: right;
    background: #FF7588;
    height: 40px;
    width: 75px;
    border-radius: 5px;
    color: #efefef;
}

#add_booking_btn{
    margin-right: 14px;
    float: right;
    background: #00888A;
    height: 40px;
    width: 100px;
    border-radius: 5px;
    color: #efefef;
}

#course_dropdown{
    height: 38px;
    width: 766px;
    border: solid 1px #A9A9A9;
    font-size: 16px;
    font-family: roboto, Helvetica, sans-serif;
    color: #4F4F4F; 
}

.form_cat {
    margin-bottom: 10px;
}

.start_time{
    float: left;
}

input[type="time"] {
    height: 38px;
    border: solid 1px #A9A9A9;
    padding: 10px;
}

.end_time {
    float: left; 
    margin-left: 30px;
}


/*====================
Course Tables Section
=====================*/
.section-level {   
    margin: 50px auto;
    width: 90%;
    border: solid 1px #cccccc;
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.section-level .head {
    border-bottom: solid 1px #cccccc;
    height: 46px;
    padding: 10px;
}

.section-level .head h2 {
    float: left;
    height: 100%;
    font-size: 20px;
    color: #555555;
    font-family: 'montserrate', sans-serif;
}

.section-level .head ul {
    float: right;
    list-style-type: none;
    text-align: center;
}

.section-level .head ul li {
    margin-left: 1px;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.section-level .head ul li i {
    color: #555555;
    font-size: 12px;
}

.levels_container {
    min-height: 200px;
    margin: 0px auto;
    padding: 15px;
}

/* table */
table{
    width: 100%;
	border-collapse: collapse;
	padding: 20px;
	text-align: center;
    font-family: fantasy;
    margin: auto;
    table-layout: fixed;
}

th {
    /* background: #007ACC; */
    background: #004D80;
    color: #efefef;
    padding: 5px;
}

tr {
    height: 40px;
    text-align: left;
}

td {
    overflow: hidden;
    padding: 5px;
}

.td-course {
    width: 30%;   
}

.td-time{
    width: 15%;   
}

.td-venue{
    width: 25%;   
}

.td-tutor{
    width: 20%;   
}

.td-action{
    width: 10%;   
}

td:last-child, th:last-child {
    padding-left: 20px;  
}

td:first-child, th:first-child {
    padding-left: 20px;
}

tr:nth-child(even){
    background: #d9d9d9;
}

tbody tr td button {
    background: #00888A;
    height: 28px;
    width: 45px;
    border-radius: 5px;
    color: #efefef;
    padding: 5px;
    font-size: 14px;
}

/* click appends course to table */
.add_spec_course_btn {
    width: 100%;
    padding: 10px;
    height: 60px;
    border-top: 1px solid #AAAAAA;
}

.add_spec_course_btn button {
    float: right;
    background: #FF7588;
    height: 40px;
    width: 150px;
    border-radius: 5px;
    color: #efefef;
    padding: 10px;
    font-size: 17px;
    border-left: none;   
}

/*=================
 Tooltip 
 =================*/
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }
  
    /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }


